* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
header {
  width: 100%;
  height: 80px;
  overflow: hidden;
  text-align: center;
  background: rgb(0,185,244);
  background: -moz-linear-gradient(30deg, rgba(0,185,244,1) 0%, rgba(4,0,255,1) 100%);
  background: -webkit-linear-gradient(30deg, rgba(0,185,244,1) 0%, rgba(4,0,255,1) 100%);
  background: linear-gradient(30deg, rgba(0,185,244,1) 0%, rgba(4,0,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00b9f4",endColorstr="#0400ff",GradientType=1);
}
header img {
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
main form {
  margin-top: 30px;
  padding: 20px;
}
main form h1 {
  font-size: 25px;
}
main form h2 {
  font-size: 20px;
}
.hidden-input {
  display: none;
}
main form input {
  border-radius: 21px;
  border: rgb(55, 55, 55) 1.5px solid;
  padding: 5px;
  font-size: 15px;
}
input:focus {
  outline: none;
}
.submit-btn {
  padding: 10px;
  font-size: 20px;
  background: #0004FF;
  color: #ffffff;
  display: none;
}
.youtube-video {
  width: 100%;
  overflow: hidden;
}
.youtube-video iframe {
  width: 100%;
  height: auto;
}
